/* ===== SOURCE ===== */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


:root {
    --font-color: #202f34;
    --primary-color: #f5ece1;
    --white-color: #ffffff;
    --grey-color: #3d3d3d;
    --orange-color: #e7a079;
}



/* ===== ANIMATIONS ===== */
@keyframes float {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-15px);
    }
    100% {
        transform: translateY(0);
    }
}



/* ===== BASES ===== */
body {
    font-family: Verdana, sans-serif;
    color: var(--font-color);
    background: linear-gradient(90deg, #88c0d0 0%, #6086ac 100%);
    padding-top: 100px;
    padding-bottom: 50px;
}

h1 {
    font-size: 2.7em;
    color: var(--white-color);
}

p {
    line-height: 1.7;
    font-size: 1.2em;
}
ul {
    font-size: 1.2em;
    margin-left: 20px;
    margin-top: 10px;
}

hr {
    border: 1px dashed var(--grey-color);
    width: 120px;
    margin: 50px 0;
}

footer {
    color: var(--primary-color);
}

.header h1{
    font-size: 4em;
}
.header img{
    width: 128px;
    height: auto;
}


/* ===== COMPOSANTS ===== */
.responsive {
    display: none;
}

.button {
    background-color: var(--orange-color);
    border: none;
    text-decoration: none;
    display: inline-block;
    padding: 15px 25px;
    border-radius: 30px;
    text-align: center;
    cursor: pointer;
    color: var(--primary-color);
    font-size: 1.2em;
    font-weight: bold;
    transition: box-shadow 0.25s ease-out;
    word-spacing: 3px;

}
.button:hover {
    box-shadow: 0 0 20px var(--orange-color);
}
.button i {
    font-size: 1.3em;
}

.box {
    display: flex;
    align-items: center;
    justify-content: center;
}
.box.vertical {
    flex-direction: column;
}
.box.horizontal {
    flex-direction: row;
}

.hidden {
    visibility: hidden;
}

.floating {
    animation: float 4s ease-in-out infinite;
}

.image-container {
    max-width: 512px;
    max-height: 512px;
    overflow: hidden;
    object-fit: cover;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 5px 10px rgb(173, 186, 190);
}


/* ===== CONTENU ===== */
.presentation {
    justify-content: space-evenly;
    padding: 50px 100px 50px 300px;
    box-shadow: drop-shadow(10px 0px 10px var(--font-color));
    color: var(--white-color);
}
.presentation img{
    width: 512px;
    height: auto;
    -webkit-filter: drop-shadow(40px 40px 90px var(--orange-color));
    filter: drop-shadow(40px 40px 90px var(--orange-color));
}
.presentation p {
    line-height: 2;
}
.presentation .description {
    justify-content: space-between;
    align-items: start;
    width: 40%;
}
.networks {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

.objectifs {
    padding: 30px 100px;
    display: flex;
    justify-content: start;
    align-items: start;
}
.goal-list {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    gap: minmax(50px, 1fr);
}
.goal {
    width: min-content;
    height: auto;
    padding: 25px;
    margin-top: 30px;
    background: rgb(234, 238, 238);
    border-radius: 15px;
    box-shadow: 15px 15px 0px var(--orange-color);
}
.goal h2 {
    margin-bottom: 20px;
}
.goal .image-container {
    width: 450px;
    height: 300px;
    overflow: hidden;
    object-fit: cover;
    border-radius: 15px;
    border: 2px solid #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 5px 10px rgb(173, 186, 190);
    margin-bottom: 15px;
}



/* ===== ARTICLE ===== */
.article {
    margin-top: 60px;
    max-width: 60%;
    justify-content: center;
    align-items: center;
    text-align: left;
    background-color: var(--primary-color);
    padding: 80px 70px;
    border-radius: 20px;
}
.article .image-container {
    border-radius: 20px;
}
.article .title{
    width: 100%;
}
.article .title h1{
    color: var(--font-color);
    font-size: 3em;
    text-align: center;
    text-wrap: pretty;
}
.article .subarticle {
    margin-top: 50px;
    text-align: left;
    display: flex;
    justify-content: start;
    align-items: start;
}
.article .subarticle > *:not(:first-child) {
    margin-top: 20px;
}
.article .subarticle h2{
    font-size: 2.2em;
}
.article .subarticle p {
    line-height: 2;
}
.article .article-content{
    max-width: 80%;
}


/* ===== RESPONSIVE ===== */

/* Petit écran : Téléphones (max-width: 768px) */
@media (max-width: 1024px) {
    body {
        padding: 20px 0;
        background: #6086ac;
    }

    h1 {
        font-size: 2em;
        text-align: center;
        margin: 30px 0;
    }

    .unresponsive {
        display: none;
        width: 0;
        height: 0;
        visibility: hidden;
        position: absolute;
        z-index: -1;
    }
    .responsive {
        display: inline-block;
    }

    .box.horizontal {
        flex-direction: column;
        text-align: center;
    }

    .presentation {
        box-shadow: none;
        padding: 0;
        padding-top: 50px;
        width: 100%;
    }
    .presentation img {
        width: 60%;
    }

    .presentation > img {
        width: 20%;
    }

    .presentation .description {
        width: 90%;
        padding: 0;
        justify-content: center;
        align-items: center;
    }

    .networks {
        flex-direction: column;
    }
    .networks .button {
        margin-left: 0;
        margin-bottom: 15px;
    }
    .presentation .networks > .button:not(:first-child) {
        margin-left: 0;
    }

    .objectifs {
        padding: 0;
        justify-content: center;
        align-items: center;
    }
    .goal-list {
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
    }

    .goal-list {
        flex-direction: column;
        gap: 50px;
        padding: 0 20px;
        width: 100%;
        margin: 0 auto;
    }
    
    .goal {
        width: 65%;
        margin: 0 auto;
        height: auto;
        box-shadow: 10px 10px 0px var(--orange-color);
    }

    .goal .image-container {
        width: 100%;
        height: auto;
    }

    .article {
        margin-top: 50px;
        max-width: 100%;
        padding: 30px 0px;
    }
    .article .title h1{
        font-size: 2.5em;
    }
    .article .title {
        padding: 0 8px;
    }

    footer {
        text-align: center;
    }
}